.card{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

label{
    width: max-content;
    color: green;
    font-size: 13px;
    border-bottom: .5px solid lightgreen;
    margin: 3px 0;
}

.desc{
font-size: 14px;
}
.star{
    color: yellow;
}

.username{
    font-size: 14px;
}

.date{
    font-size: 12px;
}